body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #aaaaaa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*label {
  text-align: right;
  margin-right: 15px;
  width: 100px;
}*/

.focus {
	margin: auto;
  width: 50%;
  background-color: #ffffff;
  padding: 1em;
  text-align: left;
  
}

.outerfocus {
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  background-color: #eeeeee;
  padding: 1em;
  line-height: 1em;
  text-align: center;
}

.footer {
  /*position: absolute;*/
  margin-top: -2em;
  width: 100%;
  height: 2em;
  background-color: #343a40;
  bottom: 0;
  left: 0;
  right: 0;
  color: #cccccc;
  text-align: center;
}
